.topButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
  top: 0;
}

button {
  width: 33.33%;
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 20px;
}

td {
  border: 2px solid black;
}
